.diary {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  padding: 40px;
  min-height: 100vh;
}

.diaryTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diaryTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-family: $fontHachi;
}

.counter {
  display: flex;
  align-items: center;
  gap: 20px;

  width: fit-content;

  padding: 10px 30px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
}

.counterHeart {
  font-size: 20px;

  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}

.diaryTopDaysSpan {
  display: block;
  text-align: center;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  overflow: scroll;
  flex: 1;
  border-radius: 20px;
  padding: 15px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  opacity: 0;
  box-shadow: 0 0 5px #a7a7a7;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0 0 30px #a7a7a7;
    transition: all 0.4s;
  }
}

.cardIcon {
  filter: drop-shadow(0 0 10px #a7a7a7);
}

.cardText {
  font-family: $fontHachi;
}

.card:nth-child(1) {
  animation-delay: 0.1s;
}
.card:nth-child(2) {
  animation-delay: 0.2s;
}
.card:nth-child(3) {
  animation-delay: 0.3s;
}
.card:nth-child(4) {
  animation-delay: 0.4s;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.select {
  width: 150px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  border: 1px solid rgba($color: #fff, $alpha: 1);
  padding: 5px;
  border-radius: 12px;
}

.textareaBorder {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  padding: 2px;
  background: #2b2b2b;

  &::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: #171717;
    border-radius: 16px;
    z-index: 1;
  }

  &:focus-within {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
  }
}

.textarea1 {
  position: relative;
  z-index: 2;

  width: 100%;
  min-height: 120px;

  padding: 18px;

  resize: none;

  border: none;
  outline: none;

  background: transparent;
  color: white;
}

.spark {
  position: absolute;
  width: 5px;
  height: 5px;

  border-radius: 50%;
  background: white;

  box-shadow:
    0 0 8px white,
    0 0 15px #ffd6e5;

  z-index: 0;

  animation: orbit 6s linear infinite;
}

.spark:nth-child(1) {
  animation-delay: 0s;
}
.spark:nth-child(2) {
  animation-delay: 1.5s;
}
.spark:nth-child(3) {
  animation-delay: 3s;
}
.spark:nth-child(4) {
  animation-delay: 4.5s;
}

@keyframes orbit {
  0% {
    left: -10px;
    top: 0;
  }

  25% {
    left: 100%;
    top: 0;
  }

  50% {
    left: 100%;
    top: 100%;
  }

  75% {
    left: -10px;
    top: 100%;
  }

  100% {
    left: -10px;
    top: 0;
  }
}

.saveBtn {
  @include btn;
  width: 150px;
}
